<ul class="nav">
    <li class="nav-item active  ">
        <a class="nav-link" href="dashborad.html">
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Recursos académicos
            <i class="material-icons">backup_table</i>
        </a>
        <div class="collapse" id="collapseExample">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="aulas_talleres.html">
                        <i class="material-icons text-info">holiday_village</i>
                        <p>Aulas y Talleres</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="material-icons text-info">people</i>
                        <p>Profesores</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="material-icons text-info">account_tree</i>
                        <p>Planes de Estudio</p>
                    </a>
                </li>
            </ul>
        </div>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="perfil.html">
            <i class="material-icons">person</i>
            <p>Perfil</p>
        </a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="historial_contratos.html">
            <i class="material-icons">cast_for_education</i>
            <p>Cargas académicas</p>
        </a>
    </li>
</ul>