<div id="perfil_profesor" class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4>Profesor</h4>
                <p class="card-category">Perfil de profesor</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        Nivel de adscripcion
                    </div>
                    <div id="perfil_profesor_nivel_adscripcion" class="col-md-6"></div>
                </div><hr>
                <div class="row">
                    <div class="col-md-4">
                        Tipo de contrato
                    </div>
                    <div id="perfil_profesor_tipo_contrato" class="col-md-6"></div>
                </div><hr>
                <div class="row">
                    <div class="col-md-4">
                        Categoría
                    </div>
                    <div id="perfil_profesor_categoria" class="col-md-6"></div>
                </div><hr>
                <div class="row">
                    <div class="col-md-4">
                        Inicio de Contrato
                    </div>
                    <div id="perfil_profesor_inicio_contrato" class="col-md-6"></div>
                </div><hr>
                <div class="row">
                    <div class="col-md-4">
                        Fin de Contrato
                    </div>
                    <div id="perfil_profesor_fin_contrato" class="col-md-6"></div>
                </div><hr>
                <div class="row">
                    <div class="col-md-4">
                        Carrera de Adscripcion
                    </div>
                    <div id="perfil_profesor_carrera_adscripcion" class="col-md-6"></div>
                </div>
            </div> <!-- end card body -->
        </div> <!-- end card-->
    </div> <!-- end col -->
</div> <!-- end row -->
