<!-- Título -->
<div class="row desactivado" id="titulo-producto">
  <div class="col-md-12">
    <div class="form-group">
      <label class="bmd-label-floating" class="bmd-label-floating">Título</label>
      <input class="form-control" class="form-control" type="text" id="tituloProducto">
    </div>
  </div>
</div>
<!-- Autor(es) -->
<div class="row desactivado" id="autor-producto">
  <div class="col-md-12">
    <div class="form-group">
      <label class="bmd-label-floating">Autores</label>
      <input class="form-control" type="text" id="autorProducto">
    </div>
  </div>
</div>
<!-- Journal -->
<div class="row desactivado" id="journal-producto">
  <div class="col-md-12">
    <div class="form-group">
      <label class="bmd-label-floating">Journal</label>
      <input class="form-control" type="text" id="journalProducto">
    </div>
  </div>
</div>
<!-- Año de publicación -->
<div class="row desactivado" id="anio-producto">
  <div class="col-md-12">
    <div class="form-group">
      <label class="bmd-label-floating">Año</label>
      <input class="form-control" type="number" id="yearPublication" maxlength="4">
    </div>
  </div>
</div>
<!-- Volumen de publicación -->
<div id="volumen-producto" class="row desactivado">
  <div class="col-md-12">
    <div class="form-group">
      <label class="bmd-label-floating">Volumen</label>
      <input class="form-control" type="number" id="volumenP">
    </div>
  </div>
</div>
<!-- Número de publicación -->
<div class="row desactivado" id="numero-producto">
  <div class="col-md-12">
    <div class="form-group">
      <label class="bmd-label-floating">Número</label>
      <input class="form-control" type="number" id="numeroPublicacion">
    </div>
  </div>
</div>
<!-- Páginas de publicación -->
<div class="row desactivado" id="paginas-producto">
  <div class="col-md-12">
    <div class="form-group">
      <label class="bmd-label-floating">Páginas</label>
      <input class="form-control" type="text" id="paginas">
    </div>
  </div>
</div>
<!-- Mes de publicación -->
<div class="row desactivado" id="mes-producto">
  <div class="col-md-12">
    <div class="form-group">
      <label>Mes</label>
      <select name="mes-publicacion" id="mes" class="select">
        <option value="0">Mes de publicación</option>
        <option value="1">Enero</option>
        <option value="2">Febrero</option>
        <option value="3">Marzo</option>
        <option value="4">Abril</option>
        <option value="5">Mayo</option>
        <option value="6">Junio</option>
        <option value="7">Julio</option>
        <option value="8">Agosto</option>
        <option value="9">Septiembre</option>
        <option value="10">Octubre</option>
        <option value="11">Noviembre</option>
        <option value="12">Diciembre</option>
      </select>
    </div>
  </div>
</div>
<!-- Serie -->
<div class="row desactivado" id="serie-producto">
  <div class="col-md-12">
    <div class="form-group">
      <label class="bmd-label-floating">Serie</label>
      <input class="form-control" type="text" id="serie">
    </div>
  </div>
  <!--
  <div id="archivo">
    <label class="bmd-label-floating" for="myfile">Archivo</label>
    <input class="form-control" type="file" id="myfile" name="myfile">
  </div>
  -->
</div>
<!-- Editorial -->
<div class="row desactivado" id="editorial-producto">
  <div class="col-md-12">
    <div class="form-group">
      <label class="bmd-label-floating">Editorial</label>
      <input class="form-control" type="text" name="editorial" id="editorial">
    </div>
  </div>
</div>
<!-- Edición -->
<div class="row desactivado" id="edicion-producto">
  <div class="col-md-12">
    <div class="form-group">
      <label class="bmd-label-floating">Edición</label>
      <input class="form-control" type="number" id="edicion">
    </div>
  </div>
</div>
<!-- Tipo -->
<div class="row desactivado" id="tipo-producto">
  <div class="col-md-12">
    <div class="form-group">
      <label class="bmd-label-floating">Tipo</label>
      <input class="form-control" type="text" id="tipo">
    </div>
  </div>
</div>
<!-- Capítulo -->
<div class="row desactivado" id="capitulo-producto">
  <div class="col-md-12">
    <div class="form-group">
      <label class="bmd-label-floating">Capítulo</label>
      <input class="form-control" type="number" id="capitulo">
    </div>
  </div>
</div>
<!-- Título del libro -->
<div class="row desactivado" id="titulo-libro">
  <div class="col-md-12">
    <div class="form-group">
      <label class="bmd-label-floating">Título del libro</label>
      <input class="form-control" type="text" name="titulo-libro" id="tituloLibro">
    </div>
  </div>
</div>
<!-- Crossref -->
<div class="row desactivado" id="crossref-producto">
  <div class="col-md-12">
    <div class="form-group">
      <label class="bmd-label-floating">Crossref</label>
      <input class="form-control" type="text" name="crossref" id="crossref">
    </div>
  </div>
</div>
<!-- Institución, escuela u organización -->
<div class="row desactivado" id="institucion-producto">
  <div class="col-md-12">
    <div class="form-group">
      <label class="bmd-label-floating">Institucion/escuela/organización</label>
      <input class="form-control" type="text" name="institucion" id="institucion">
    </div>
  </div>
</div>
<!-- Dirección -->
<div class="row desactivado" id="direccion-producto">
  <div class="col-md-12">
    <div class="form-group">
      <label class="bmd-label-floating">Dirección</label>
      <input class="form-control" type="text" name="direccion" id="direccion">
    </div>
  </div>
</div>
<!-- Editor -->
<div class="row desactivado" id="editor-producto">
  <div class="col-md-12">
    <div class="form-group">
      <label class="bmd-label-floating">Editor</label>
      <input class="form-control" type="text" name="editor" id="editor">
    </div>
  </div>
</div>
<!-- Cómo fue publicado -->
<div class="row desactivado" id="how-published-producto">
  <div class="col-md-12">
    <div class="form-group">
      <label class="bmd-label-floating">¿Cómo fue publicado?</label>
      <input class="form-control" type="text" name="howPublished" id="howPublished">
    </div>
  </div>
</div>
<!-- Nota -->
<div class="row desactivado" id="nota-producto">
  <div class="form-group">
    <label class="bmd-label-floating">Nota</label>
    <input class="form-control" type="text" name="nota" id="nota">
  </div>
</div>
<!--
<div class="row7" id="doi-file">
  <label class="bmd-label-floating">DOI</label>
  <input class="form-control" type="text" id="doi">
</div>
<div class="row8" id="url-file">
  <label class="bmd-label-floating">URL</label>
  <input class="form-control" type="text" id="url">
</div>
-->