<!-- Autor(es) -->
<div class="row" id="autor-producto">
  <div class="col-md-12">
    <div class="form-group">
      <label class="bmd-label-floating">Autores</label>
      <input class="form-control" type="text" id="autorProducto" required>
    </div>
  </div>
</div>
<!-- Título -->
<div class="row" id="titulo-producto">
  <div class="col-md-12">
    <div class="form-group">
      <label class="bmd-label-floating" class="bmd-label-floating">Título</label>
      <input class="form-control" class="form-control" type="text" id="tituloProducto" required>
    </div>
  </div>
</div>
<!-- Editorial -->
<div class="row" id="editorial-producto">
  <div class="col-md-12">
    <div class="form-group">
      <label class="bmd-label-floating">Editorial</label>
      <input class="form-control" type="text" name="editorial" id="editorial" required>
    </div>
  </div>
</div>
<!-- Año de publicación -->
<div class="row" id="anio-producto">
  <div class="col-md-12">
    <div class="form-group">
      <label class="bmd-label-floating">Año</label>
      <input class="form-control" type="number" id="yearPublication" maxlength="4" required>
    </div>
  </div>
</div>