<!-- Título -->
<div class="form-row" id="title">
  <div class="col-md-12">
    <div class="form-group">
      <label class="bmd-label-floating" class="bmd-label-floating">Título</label>
      <input class="form-control" class="form-control" type="text" id="tituloProducto" required>
    </div>
  </div>
</div>
<!-- Autor(es) -->
<div class="row" id="autor-producto">
  <div class="col-md-12">
    <div class="form-group">
      <label class="bmd-label-floating">Autores</label>
      <input class="form-control" type="text" id="autorProducto" required>
    </div>
  </div>
</div>
<!-- Journal -->
<div class="row" id="journal-producto">
  <div class="col-md-12">
    <div class="form-group">
      <label class="bmd-label-floating">Journal</label>
      <input class="form-control" type="text" id="journalProducto" required>
    </div>
  </div>
</div>
<!-- Año de publicación -->
<div class="row" id="anio-producto">
  <div class="col-md-12">
    <div class="form-group">
      <label class="bmd-label-floating">Año</label>
      <input class="form-control" type="number" id="yearPublication" maxlength="4" required>
    </div>
  </div>
</div>
<!-- Volumen de publicación -->
<div id="volumen-producto" class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label class="bmd-label-floating">Volumen</label>
      <input class="form-control" type="number" id="volumenP">
    </div>
  </div>
</div>
<!-- Número de publicación -->
<div class="row" id="numero-producto">
  <div class="col-md-12">
    <div class="form-group">
      <label class="bmd-label-floating">Número</label>
      <input class="form-control" type="number" id="numeroPublicacion">
    </div>
  </div>
</div>
<!-- Páginas de publicación -->
<div class="row" id="paginas-producto">
  <div class="col-md-12">
    <div class="form-group">
      <label class="bmd-label-floating">Páginas</label>
      <input class="form-control" type="text" id="paginas">
    </div>
  </div>
</div>
<!-- Mes de publicación -->
<div class="row" id="mes-producto">
  <div class="col-md-12">
    <div class="form-group">
      <label for="sctMesPublicacionProducto" class="control-label">Mes</label>
      <select id="sctMesPublicacionProducto" name="mes-publicacion" id="mes" class="form-control">
        <option value="1">Enero</option>
        <option value="2">Febrero</option>
        <option value="3">Marzo</option>
        <option value="4">Abril</option>
        <option value="5">Mayo</option>
        <option value="6">Junio</option>
        <option value="7">Julio</option>
        <option value="8">Agosto</option>
        <option value="9">Septiembre</option>
        <option value="10">Octubre</option>
        <option value="11">Noviembre</option>
        <option value="12">Diciembre</option>
      </select>
    </div>
  </div>
</div>