<div class="sidebar" data-color="azure" data-background-color="white" data-image="../../static/assets/img/sidebar-3.jpg">
  <!--
  Tip 1: You can change the color of the sidebar using: data-color="purple | azure | transparent | orange | danger"
  Tip 2: you can also add an image using data-image tag
  -->
  <div class="logo">
    <img src="../../static/img/UP_Victoria_200.png" class="mx-auto d-block img-fluid"/>
  </div>
  
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="index.php">
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>
      <!--
      <li class="nav-item active">
        <a class="nav-link" href="./perfil_profesor.html">
          <i class="material-icons">person</i>
          <p>Perfil de usuario</p>
        </a>
      </li>
      -->
      <li class="nav-item active">
        <a class="nav-link" href="disponibilidad.php">
          <i class="material-icons">view_comfy</i>
          <p>Disponibilidad</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="productos_academicos.php">
          <i class="material-icons">library_books</i>
          <p>Productos Académicos</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="planeaciones_academicas.php">
          <i class="material-icons">assignment</i>
          <p>Planeaciones académicas</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="cargas_academicas.php">
          <i class="material-icons">collections_bookmark</i>
          <p>Cargas académicas</p>
        </a>
      </li>
    </ul>
  </div>
</div>