<div class="sidebar" data-background-color="white" data-color="azure"
     data-image="../../static/assets/img/sidebar-3.jpg">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->
  <div class="logo">
    <img class="mx-auto d-block img-fluid" src="../../static/img/UP_Victoria_200.png">
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item active  ">
        <a class="nav-link" href="index.php">
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="nav-item">
        <a aria-controls="collapseExample" aria-expanded="false" class="nav-link" data-toggle="collapse"
           href="#collapseExample" role="button">Recursos académicos
          <i class="material-icons">backup_table</i>
        </a>
        
        <div class="collapse" id="collapseExample">
          <ul class="nav">
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="aulas_talleres.html">-->
<!--                <i class="material-icons text-info">holiday_village</i>-->
<!--                <p>Aulas y Talleres</p>-->
<!--              </a>-->
<!--            </li>-->
            <li class="nav-item">
              <a class="nav-link" href="lista_usuarios.php">
                <i class="material-icons text-info">people</i>
                <p>Usuarios</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="lista_carreras.php">
                <i class="material-icons text-info">receipt_long</i>
                <p>Carreras</p>
              </a>
            </li>
          </ul>
        </div>
      
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="perfil.html">
          <i class="material-icons">person</i>
          <p>Perfil</p>
        </a>
      </li>
<!--      <li class="nav-item ">-->
<!--        <a class="nav-link" href="historial_contratos.html">-->
<!--          <i class="material-icons">cast_for_education</i>-->
<!--          <p>Carrgas académicas</p>-->
<!--        </a>-->
<!--      </li>-->
    </ul>
  </div>
</div>